@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --header-nav-background-color: #f2f2f2;
    --header-nav-border-bottom-color: #868686 solid 3px;
}

body.dark-mode {
    --header-nav-background-color: #333;
    --header-nav-border-bottom-color: #212121 solid 3px;
    background-color: #444;
    color: #fff;
}

body.dark-mode .header {
    background-color: #333;
    border-bottom: #212121 solid 3px;
}

body.dark-mode .header-nav a {
    color: #fff;
}

body.dark-mode .language-selector {
    background-color: #4CA64F;
    border-bottom: #326C34 solid 3px;
    color: #fff;
}

body.dark-mode .language-selector:hover {
    background-color: #00A5D9;
    border-bottom: #006B8E solid 3px;
    color: #fff;
}

body.dark-mode .language-tag {
    background-color: #4e4e4e;
    border-style: none;
    border-top: #3a3a3a solid 3px;
}

body.dark-mode .language-tag span {
    color: #fff;
}

body.dark-mode .panel {
    background-color: #333;
    border-bottom: #212121 solid 3px;
}

body.dark-mode .normal-button {
    background-color: #333;
    border-bottom: #212121 solid 3px;
    color: #fff;
}

body.dark-mode .normal-button:hover {
    background-color: #4CA64F;
    border-bottom: #326C34 solid 3px;
    color: #fff;
}

body.dark-mode .normal-button:active {
    background-color: #333;
    border-bottom: #4CA64F solid 3px;
    color: #fff;
}

body.dark-mode .link-panel {
    background-color: #333;
    border-bottom: #212121 solid 3px;
    color: #fff;
}

body.dark-mode .link-panel:hover {
    background-color: #00A5D9;
    border-bottom: #006B8E solid 3px;
    color: #fff;
}

body.dark-mode #tooltipTitle {
    color: #fff;
}

body.dark-mode #tooltipMessage {
    color: #f1f1f1;
}

body.dark-mode #darkModeToggle {
    color: #fff;
}

body {
    background-color: #e1e1e1;
    font-family: "Ubuntu", sans-serif;
    color: #212121;
    transition: background-color 0.1s ease;
    font-size: 14px;
    margin: 0;
}

body {
    overflow-x: hidden;
}

svg {
    color: currentColor;
}

.dark-mode-toggle {
    border-style: none;
    cursor: pointer;
    box-sizing: border-box;
}

/* ----- Header ----- */
.header {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    border-bottom: #A7A8A8 solid 3px;
    padding: 10px 20px;
    top: 0;
    z-index: 5;
    margin: 0;
}

.header svg {
    width: 32px;
    height: 32px;
}

.header-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-nav a {
    text-decoration: none;
    font-weight: bolder;
    color: #333;
    padding: 12px;
}

.language-selector {
    height: 40px;
    padding: 0 8px;
    border-style: none;
    background-color: #cdcdcd;
    border-bottom: #868686 solid 3px;
    font-family: "Ubuntu", sans-serif;
    padding: 8px;
}

.language-selector:hover {
    background-color: #00A5D9;
    border-bottom: #006B8E solid 3px;
    color: #fff;
}

.language-selector img {
    justify-content: center;
    width: 24px;
    height: 24px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

/* ----- Main ----- */
main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

main > * {
    margin: 0;
    box-sizing: border-box;
}

/* ----- Left Section ----- */
.left-section {
    width: 35%;
    min-width: 300px;
}

.personal-information {
    display: flex;
}

.personal-information img {
    border-radius: 4em;
    width: 86px;
}

.additional-information {
    background-color: rgb(0, 165, 217);
    border-bottom: rgb(0, 136, 192) solid 3px;
    color: #f1f1f1;
    padding: 12px;
    margin: 10px;
}

.additional-information a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
}

.additional-information a:hover {
    color: #ccc;
}

.information-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}

#infoTitle {
    font-size: 20px;
    font-weight: bold;
}

#infoMessage {
    font-size: 16px;
    font-weight: 400;
}

.languages-section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.language-tag {
    display: flex;
    flex-direction: column;
    background-color: #cfcfcf;
    border-top: #9B9C9C solid 3px;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 86px;
}

.language-tag-img {
    width: 48px;
    height: 48px;
    margin-bottom: 10px;
}

.language-tag span {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.social-media-section {
    display: flex;
    flex-direction: column;
}

.link-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border-bottom: #d5d5d5 solid 3px;
    padding: 8px;
}

.link-panel:hover {
    background-color: #cdcdcd;
    color: #515151;
    border-bottom: #868686 solid 3px;
}

.link-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-left, .icon-right {
    width: 24px;
    height: 24px;
}

/* ----- Right Section ----- */
.right-section {
    flex: 1;
    margin: 0 auto;
    padding: 10px;
}

.container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    justify-items: center;
    align-items: start;
    width: 100%;
}

.container-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
    max-width: 100%;
}

.container-preview img {
    width: 100%;
    height: 230px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container-preview a {
    width: 100%;
}

#seeMoreButton {
    margin-top: 10px;
    width: 100%;
}

.container-preview-info {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
}

/* ----- Common Styles ----- */
.panel {
    background-color: #fff;
    border-bottom: #A7A8A8 solid 3px;
    padding: 10px;
}

.normal-button {
    background-color: #fff;
    border: none;
    border-bottom: #A7A8A8 solid 3px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
    font-size: normal;
    color: #5B5C5C;
    padding: 10px;
    transition: background-color 0.2s ease;
    width: 100%;
}

.normal-button:hover {
    background-color: #00A353;
    border-bottom: #006A34 solid 3px;
    color: #fff;
}

.normal-button:active {
    background-color: #ffffff;
    color: #55B677;
    border-bottom: #00A353 solid 3px;
}

.normal-button:disabled {
    background-color: #EAEAEA;
    border-bottom: #cfcfcf solid 3px;
}

#tooltipTitle, #tooltipMessage {
    font-size: 16px;
    color: #222;
}

#tooltipTitle {
    font-weight: bold;
}

.title-divider {
    font-size: 18px;
    font-weight: 700;
    margin: 6px 0 8px 0;
}

@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    body {
        font-size: 12px;
    }

    .menu-toggle {
        display: block;
    }

    .header-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: var(--header-nav-background-color);
        border-bottom: var(--header-nav-border-bottom-color);
        top: 60px;
        right: 10px;
        width: 180px;
        padding-bottom: 10px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }

    .header-nav.active {
        display: flex;
    }

    .header-nav a, .header-nav select, .header-nav button {
        margin: 5px 0;
        text-align: left;
    }

    .header-nav a:hover {
        color: #727272;
    }

    .personal-information {
        margin-top: 10px;
    }

    .left-section, .right-section {
        width: 100%;
        min-width: unset;
        margin: 0;
        padding: 0;
    }

    .container-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        width: 100%;
    }

    .container-preview {
        width: 100%;
        height: auto;
    }

    .container-preview img {
        width: 100%;
        height: auto;
    }
}
